<div id="canvas">
  <canvas #sectorCanvas (mousemove)="updateMouseCoordinates($event)" (mouseup)="selectPlanet()" (touchstart)="selectPlanetByTouch($event)"></canvas>

  <div class="test-controls">
    <!-- <div class="test-controls__control">
      <input type="range" name="gradientAngle" id="gradientAngle" min="0" max="6.28" step="0.01" [(ngModel)]="gradientAngle">
      <label for="gradientAngle">Gradient Angle ({{gradientAngle | number }})</label>
    </div>
    <div class="test-controls__control">
      <input type="range" name="twinkleSpeed" id="twinkleSpeed" min="0" max="0.20" step="0.01" [(ngModel)]="twinkleSpeed">
      <label for="twinkleSpeed">Background Twinkle Speed ({{twinkleSpeed | number }})</label>
    </div> -->
    <div class="test-controls__control">
      <input type="range" name="angleBaseSpeed" id="angleBaseSpeed" min="0.001" max="0.050" step="0.001" [(ngModel)]="angleBaseSpeed">
      <label for="angleBaseSpeed">Base Speed ({{angleBaseSpeed | number }})</label>
    </div>
  </div>
</div>

