$colour-primary: #dd32b3;
$colour-primary-light: #fb29fd;
$colour-secondary: #4216d2;
$colour-secondary-light: #2e3bf0;
$colour-secondary-dark: #000840;

:root {
  --colour-primary: #{$colour-primary};
  --colour-primary-light: #{$colour-primary-light};
  --colour-secondary: #{$colour-secondary};
  --colour-secondary-light: #{$colour-secondary-light};
  --colour-secondary-dark: #{$colour-secondary-dark};
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.input__button {
  padding: .5rem 1rem;
  box-shadow: 0 .3rem .6rem rgba(black, .5);
  transition: transform .1s;
  font-size: 1.4rem;

  &:hover { cursor: pointer; transform: translateY(-.2rem); }
  &:active { transform: translateY(-.1rem); }
}

.input__text {
  padding: .5rem 1rem;
  box-shadow: 0 .3rem .6rem rgba(black, .5);
  font-size: 1.4rem;
  letter-spacing: .1rem;
}

.input__select {
  padding: .5rem 1rem;
  box-shadow: 0 .3rem .6rem rgba(black, .5);
  font-size: 1.4rem;
  letter-spacing: .1rem;
}

.input__label {
  font-size: 1.4rem;
  letter-spacing: .1rem;
}

.input__slider {

  border-radius: 1rem;
  position: relative;
  background-color: darkgrey;
  padding: 1rem 2rem;
  transition: all .2s;
  margin-right: 4rem;

  &:hover { cursor: pointer; }

  &--ball {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 1rem;
    background-color: gray;
    padding: 1rem;
    transition: all .2s;
  }

  &--text {
    position: absolute;
    right: 0rem;
    color: white;
  }

  &--checkbox {
    visibility: hidden;

    &:checked ~ label {
      background-color: red;
      .input__slider--ball { left: 2rem; background-color: yellow; }
    }

    &:checked ~ .input__slider--text::after { content: "Enabled"; }
    &:not(:checked) ~ .input__slider--text::after { content: "Disabled"; }

  }
}

.flex-direction-row { display: flex; flex-direction: row; align-items: baseline;}
.flex-direction-column { display: flex; flex-direction: column; }

.hr { border: 1px solid black; }

.margin-bottom-small { margin-bottom: .5rem; }
.margin-bottom-medium { margin-bottom: 1rem; }
.margin-bottom-big { margin-bottom: 1.5rem; }
.margin-top-small { margin-top: .5rem; }
.margin-top-medium { margin-top: 1rem; }
.margin-top-big { margin-top: 1.5rem; }
