<!-- if planet data is loaded show this -->
<div class="planet" *ngIf="planetData; else loading">
  <div class="planet__header">
    <div class="planet__name">
      <input type="text" class="input__text" *ngIf="modifyName" value="{{ planetData.name }}">
      <div class="planet__name--name" *ngIf="!modifyName">{{ planetData.name }}</div>
      <img src="../../assets/icons/001-settings.png" alt="Change Name" *ngIf="planetData?.owner.currentUser === true && modifyName === false" (click)="modifyNameToggle()">
      <img src="../../assets/icons/001-settings.png" alt="Set Name" *ngIf="planetData?.owner.currentUser === true && modifyName === true" (click)="setNewName()">
    </div>
    <div class="planet__owner">Owned by {{ planetData.owner.username }}</div>
  </div>

  <div class="planet__stats">
    <div class="planet__stat">
      <div class="planet__stat--image"><img src="../../assets/icons/001-diet.png" alt="Population"></div>
      <div class="planet__stat--value">{{ planetData.population | number:'1.0-0' }}</div>
    </div>
    <div class="planet__stat">
      <div class="planet__stat--image"><img src="../../assets/icons/005-field.png" alt="Fields"></div>
      <div class="planet__stat--value">{{ getUsedFields() | number:'1.0-0' }} / {{ planetData?.fields }}</div>
    </div>
  </div>
  <div class="planet__stats">
    <div class="planet__stat">
      <div class="planet__stat--image"><img src="../../assets/icons/004-astronomical.png" alt="Distance to Star"></div>
      <div class="planet__stat--value">{{ planetData.distance }} AU</div>
    </div>
    <div class="planet__stat">
      <div class="planet__stat--image"><img src="../../assets/icons/003-distance.png" alt="Luminosity at the planet surface"></div>
      <div class="planet__stat--value">{{ planetData.solarRadiation }} lm</div>
    </div>
  </div>

  <div class="planet__buildings fadeIn" id="planet__buildings">
    <div class="planet__building" [class.planet__buildings--selected]="selectedBuilding.id === building.id" (click)="selectBuilding(building.id)" *ngFor="let building of buildingsData">
      <div class="planet__building--icon"><img src="../../assets/icons/{{ building.icon }}" alt="{{ building.name }}"></div>
      <div class="planet__building--name">{{ building.name }}</div>
      <div class="planet__building--quantity">{{ building.quantity }}</div>
    </div>
  </div>

  <div id="planet__buildingsDetail" class="planet__buildingsDetail">
    <div class="planet__buildingsDetail--buysell">

      <input type="checkbox" name="buysell__buildings" id="buysell__buildings" class="input__boxslider--checkbox" [checked]="buyBuilding" (change)="toggleBuySell(!buyBuilding)">
      <label for="buysell__buildings" class="input__boxslider">
        <div class="input__boxslider--text">
          <div class="input__boxslider--left">Buy</div>
          <div class="input__boxslider--right">Sell</div>
        </div>
        <div class="input__boxslider--box"></div>
      </label>

    </div>
    <div class="planet__buildingsDetail--quantity">
      <button class="input__button" (click)="build(selectedBuilding.id, 1)">1</button>
      <button class="input__button" (click)="build(selectedBuilding.id, 5)">5</button>
      <button class="input__button" (click)="build(selectedBuilding.id, 10)">10</button>
      <button class="input__button" (click)="build(selectedBuilding.id, planetData?.fields)">Max</button>
    </div>
  </div>

  <div class="planet__resources">
    <select name="" id="">
      <option value="{{ good.id }}" *ngFor="let good of planetData.goods">{{ good.name }}</option>
    </select>
  </div>

</div>

<!-- else display the loading spinner  -->
<ng-template #loading>
  <div class="planet">
    <app-loading></app-loading>
  </div>
</ng-template>



<div class="planet" *ngIf="planetData">

  <!-- <div *ngIf="planetData?.owner.currentUser === true">

    <div class="buysell">
      <button class="input__button input__button--buy" [class.input__button--disabled]="buildBuyMode === false" (click)="setBuildMode(true)">Buy</button>
      <button class="input__button input__button--sell" [class.input__button--disabled]="buildBuyMode === true" (click)="setBuildMode(false)">Sell</button>
    </div>

    <div class="good" *ngFor="let building of planetData.buildings">
      <div>{{ building.name }}</div>
      <div class="good__quantity">{{ building.quantity | number:'1.0-0' }}</div>
      <div class="good__cost">{{ building.price | number }} each</div>
      <div>
        Build
        <button (click)="build(building.id, 1)">1</button>
        <button (click)="build(building.id, 5)">5</button>
        <button (click)="build(building.id, 25)">25</button>
        <button (click)="build(building.id, planetData?.fields)">Max</button>
      </div>
    </div>
  </div> -->

  <div *ngIf="planetData?.trading === 1 || planetData?.owner.currentUser === true">
    <div class="good" *ngFor="let good of planetData.goods">
      <div>{{ good.name }}</div>
      <div class="good__quantity">{{ good.quantity | number:'1.0-0' }}</div>
      <div>
        <input type="text" placeholder="Selling ({{ good.price.buy | number:'.3-3' }}), Buying ({{ good.price.sell | number:'.3-3' }})" #goodsQuantity>
        <button (click)="buyGoods(good.id, good.name, +goodsQuantity.value)">Buy</button>
        <button (click)="sellGoods(good.id, good.name, +goodsQuantity.value)">Sell</button>
      </div>
    </div>
  </div>

  <div class="trading" *ngIf="planetData?.owner.currentUser === true">
    <p class="quantity">Enable or disable trading</p>

    <div class="flex-direction-row">
      <input type="checkbox" name="trading__slider" id="trading__slider" class="input__slider--checkbox" value="{{ planetData?.trading === 1 ? true : false }}" (change)="toggleTrading($event)" [checked]="planetData?.trading === 1">
      <label for="trading__slider" class="input__slider">
        <div class="input__slider--ball"></div>
      </label>
      <div class="input__slider--text"></div>
    </div>
  </div>
</div>

