.planet {
  color: white;
}

.good, .trading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 50rem;

  padding: .5rem 1rem;

  button { width: 4rem; cursor: pointer; }

  &__quantity { flex-basis: 10rem; text-align: center;}
}

.input__button {
  &:hover { cursor: default; }
  &--buy { background-color: green; }
  &--sell { background-color: red; }
  &--disabled { background-color: gray; &:hover { cursor: pointer; }}
}
