<div>
  <div class="ship-detail" (mouseover)="mouseFollow(false)" (mouseleave)="mouseFollow(true)">
    <div class="ship-model">
      <div id="ship-model__infotext" class="ship-model__infotext">{{ toolTipDescription }}</div>
      <canvas id="shipCanvas" #shipCanvas></canvas>
    </div>

    <div class="ship-data" *ngIf="shipDetail">

      <div class="ship-tech">

        <div class="ship-tech__list" *ngFor="let list of lists">

          <div class="ship-tech__list--title">
            <div class="ship-tech__list--text">{{ list.name }}</div>
          </div>

          <div
            class="ship-tech__part"
            *ngFor="let component of list.components"
            [class.ship-tech__featured]="component.featured"
            (mouseover)="loadToolTip(component.name)"
            (mouseout)="removetoolTip()"
          >
            <div class="ship-tech__part--icon"> <img src="../../assets/icons/{{ component.icon }}" alt="{{ component.name }}"> </div>
            <div class="ship-tech__part--text">{{ component.name }}</div>
            <div class="ship-tech__part--level">{{ component.level }}</div>
          </div>

        </div>
      </div>


      <div class="resources">

        <div class="resources__bar">
          <div class="resources__resource" style="flex: {{ getUnusedStoragePercentage(1) }};">
            <div class="resources__name">Unused Storage</div>
            <div class="resources__quantity">{{ getUnusedStorage(1) | number:'0.0-0' }}</div>
          </div>
          <div class="resources__resource" *ngFor="let store of shipStorage" style="flex: {{ getStoragePercentage(store.quantity, 1) }};">
            <div class="resources__name">{{ store.name }}</div>
            <div class="resources__quantity">{{ store.quantity | number:'0.0-0' }}</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<ng-template #loading>
  Loading ship data...
</ng-template>
