<div class="register__menu">

  <div class="register__title">Create Account</div>

  <div class="register__row">
    <button class="register__button input__button">Create Standard Account</button>
    <div class="register__helpbox">
      <div class="register__help">?</div>
      <div class="register__help--box">
        <div class="register__desc">Create an account with a personal email and password.</div>
        <div class="register__desc">These accounts give you access only to servers with other fully registered players. These servers are generally more stable to play in and will encounter less cheating than the anonymous servers!</div>
      </div>
    </div>
  </div>

  <div class="register__row">
    <button class="register__button input__button">Create Anonymous Account</button>
    <div class="register__helpbox">
      <div class="register__help">?</div>
      <div class="register__help--box">
        <div class="register__desc">Anonymous accounts do not ask for any personal details, however if you lose the details given to your then you will not be able to retrieve your account.</div>
        <div class="register__desc">These accounts only have access to servers hosting other anonymous players, and may be subject to sheninigans!</div>
      </div>
    </div>
  </div>


</div>


<div id="register__normal" class="register__normal register__visible">
  <div class="register__window--title">Register Normal Account</div>
  <div class="register__input">

    <div class="register__window--details">
      <div class="register__window--row">
        <div class="register__window--name">Username</div>
        <div class="register__window--text"><input type="text" class="input__text"></div>
      </div>
      <div class="register__window--row">
        <div class="register__window--name">Password</div>
        <div class="register__window--text"><input type="password" class="input__text"></div>
      </div>
    </div>
    <div class="register__window--buttons">

      <div class="register__checkbox">
        <input type="checkbox" class="register__checkbox--checkbox" id="terms">
        <label class="register__checkbox--label" for="terms">I agree to the terms and conditions</label>
      </div>

      <div class="register__checkbox">
        <input type="checkbox" class="register__checkbox--checkbox" id="privacy">
        <label class="register__checkbox--label" for="privacy">I agree to the privacy policy</label>
      </div>

      <button class="input__button">Register</button>
    </div>
  </div>

</div>

<div id="register__anonymous" class="register__anonymous">
  <div class="register__window--title">Register Normal Account</div>

</div>
