<div class="menu">
  <a class="menu__item" (click)="load('trade')">
    <img src="../../assets/icons/009-trade.png" alt="Trade">
  </a>
  <div class="menu__label">Trade Routes</div>
  <a class="menu__item" (click)="load('navlog')">
    <img src="../../assets/icons/006-placeholder.png" alt="Navigation">
  </a>
  <div class="menu__label">Empire Overview</div>
  <a class="menu__item">
    <img src="../../assets/icons/001-email.png" alt="Messages">
  </a>
  <div class="menu__label">Messages</div>
</div>
