<div class="trade-log">

  <div class="trade-route" id="tradeRoute{{route.id}}" *ngFor="let route of tradeRoutesRun">
    <div class="trade-route__data">

      <div class="trade-route__log">
        <div class="trade-route__log--data">{{ route.currentLog }}</div>
      </div>

      <div class="trade-route__sub">
        <div class="trade-route__data--point">Turns: {{ route.turnsUsed | number  }}</div>
        <div class="trade-route__data--point">Money Change: {{ route.moneyChange | number  }}</div>
      </div>

      <div class="trade-route__goods">
        <div class="trade-route__good" *ngFor="let good of route.goodsChange">
          <div class="trade-route__goods--name">{{ getGoodsName(good.id) }}</div>
          <div class="trade-route__goods--quantity">{{ good.quantity | number }}</div>
        </div>
      </div>

    </div>

    <div class="trade-route__button">
      <div class="trade-route__data--point trade-route__data--name">{{ route.name }}</div>
      <button class="input__button" [disabled]="route.complete">Quick Finish</button>
      <button class="input__button" [disabled]="!route.complete" (click)="clearRoute(route.id)">Clear</button>
    </div>
  </div>

</div>
