.game {
  color: white;
  flex: 1;

  &__title  {
    display: flex;
    justify-content: space-between;
  }
}

.ship {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: lightblue;
  border-radius: 1rem;
}

.console {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem;
  border-radius: 1rem;
}

.sector {

  display: flex;

  &__planets {
    display: flex;
  }

  &__planet {
    flex: 1;
    padding: 4rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    background-color: green;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      background-color: red;
    }
  }
}
