<div class="sector">

  <div class="info-box">
    <app-menu></app-menu>
    <app-move></app-move>
    <app-trade-route-launcher></app-trade-route-launcher>
    <app-console [consoleLogs]="gameService.consoleLog"></app-console>
  </div>

  <div class="ship">
    <app-shipoverview></app-shipoverview>
  </div>

  <div class="traderoutes">
  </div>

  <div class="sector-info">
    <div class="sector-info__name">{{ sectorData?.system.givenname }} (Sector {{ sectorData?.system.sectorid }})</div>
    <div class="sector-info__info">
      <div class="sector-info__info--name">Credits:</div>
      <div class="sector-info__info--quantity">{{ sectorData?.ship.money | number }}</div>
      <div class="sector-info__info--name">Turns:</div>
      <div class="sector-info__info--quantity">{{ sectorData?.user.turns | number }}</div>
    </div>
  </div>

  <div class="data">

    <div class="system-visualisation">
      <app-system></app-system>
    </div>

    <div id="data-outlet" class="data-outlet">
      <app-planet *ngIf="componentLoad.component === 'planet'" [planetId]='+componentLoad.data.id'></app-planet>
      <app-trade-routes *ngIf="componentLoad.component === 'trade'" [tradeRouteId]='+componentLoad.data.id'></app-trade-routes>
      <app-display-trade-log *ngIf="componentLoad.component === 'displayTradeLog'" [tradeLog]="componentLoad.data"></app-display-trade-log>
      <app-navigation *ngIf="componentLoad.component === 'navigationLog'"></app-navigation>
    </div>
  </div>

  <div class="server-info">
    <div class="server-info__info">
      <div class="server-info__info--name">Time until next tick:</div>
      <div class="server-info__info--quantity">{{ gameService.timeUntilNextTick | number }} s</div>
      <div class="server-info__info--name">Ticks Every:</div>
      <div class="server-info__info--quantity">{{ sectorData?.server.tickDuration | number }} s</div>
    </div>
  </div>

</div>
