<div class="galaxy-list" *ngIf="user">

  <app-loading *ngIf="loadingGalaxies"></app-loading>

  <div class="galaxy-list__galaxy makeMaxHeightBig" *ngFor="let galaxy of galaxyList">
    <div class="galaxy-list__data">
      <div class="galaxy-list__data--name">{{ galaxy.name }}</div>
      <div class="galaxy-list__data--start">Started on {{ galaxy.startTime }}</div>
    </div>
    <div class="galaxy-list__galaxy--button">
      <button class="input__button galaxy-list__join" *ngIf="!galaxy.member" (click)="joinGalaxy(galaxy.id)">Join Galaxy</button>
      <button class="input__button galaxy-list__play" *ngIf="galaxy.member" (click)="playGalaxy(galaxy.id)">Play Galaxy</button>
    </div>
  </div>
</div>
