.trade-routes {
  padding: .5rem 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;


  &__title {
    font-size: 1.6rem;
    color: white;
    padding: .5rem 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  &__routes {
    display: flex;
    flex-direction: column;
  }

  &__route {
    display: flex;
    overflow: hidden;

    &:first-of-type { border-radius: .5rem .5rem 0 0; }
    &:last-of-type { border-radius: 0 0 .5rem .5rem; }

    &:hover {
      cursor: pointer;
      color: white;
      filter: brightness(1.15);
    }
  }

  &__modify, &__name {
    padding: .5rem 1rem;
    transition: all .3s;
    &:hover {
      filter: brightness(1.15);
      cursor: pointer;
    }
  }

  &__modify {
    background-color: var(--colour-secondary);
    transition: all .3s;
    display: flex;
    align-items: center;

    img {
      width: 1rem;
      height: 1rem;
      filter: invert(1);
    }
  }

  &__name {
    color: white;
    flex: 1;
    background-image: linear-gradient(to right, var(--colour-secondary), var(--colour-primary));
    font-size: 1.2rem;
  }

  &__selected {
    border: .1rem solid white;
    box-shadow: 0 0 .6rem white;
    transition: all .3s;
  }

  &__runtimes {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;

    &--runtime {
      background-color: var(--colour-secondary-dark);
      color: white;
      border-radius: .5rem;
      padding: .5rem;
      flex: 1;
      text-align: center;
      transition: all .3s;
      box-shadow: 0 0 .6rem transparent;

      &:not(:last-of-type) { margin-right: .3rem; }

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }
    }
  }

  &__execute {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
