.logs {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}

.log {
  color: white;
  width: 40rem;
  text-align: center;
  padding: .4rem 1rem;
  background-color: orange;
  border-radius: 1rem;
  animation: fadeOut 1s ease-in-out 8s 1 forwards;
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
